[submodule "lib/ArduinoMatrixScroller"]
	path = lib/ArduinoMatrixScroller
	url = git@github.com:Clpsplug/ArduinoMatrixScroller.git
[submodule "lib/ht16k33-arduino"]
	path = lib/ht16k33-arduino
	url = git@github.com:Clpsplug/ht16k33-arduino.git
[submodule "binary/baf"]
	path = binary/baf
	url = git@github.com:dansalvato/build-a-file.git
